unsloth_zoo==2025.9.9
scikit-learn==1.7.2
nvidia-cusparselt-cu12==0.7.1
ptyprocess==0.7.0
nvidia-cuda-cupti-cu12==12.8.90
matplotlib==3.10.7
sentry-sdk==2.39.0
multidict==6.6.4
nvidia-cufile-cu12==1.13.1.3
annotated-types==0.7.0
sentencepiece==0.2.1
pexpect==4.9.0
filelock==3.19.1
setuptools==80.9.0
docstring_parser==0.17.0
gitdb==4.0.12
nvidia-cublas-cu12==12.8.4.1
platformdirs==4.4.0
pyarrow==21.0.0
sniffio==1.3.1
typing_extensions==4.15.0
Pygments==2.19.2
parso==0.8.5
comm==0.2.3
httpcore==1.0.9
certifi==2025.8.3
jedi==0.19.2
joblib==1.5.2
nvidia-cusparse-cu12==12.5.8.93
packaging==25.0
frozenlist==1.7.0
tornado==6.5.2
MarkupSafe==3.0.2
wheel==0.45.1
dill==0.3.8
multiprocess==0.70.16
accelerate==1.11.0
nvidia-nccl-cu12==2.27.3
numpy==2.3.3
Jinja2==3.1.6
GitPython==3.1.45
matplotlib-inline==0.1.7
aiohttp==3.12.15
seaborn==0.13.2
msgspec==0.19.0
mpmath==1.3.0
shtab==1.7.2
stack-data==0.6.3
tokenizers==0.22.1
PyYAML==6.0.2
httpx==0.28.1
xformers==0.0.32.post2
nvidia-cufft-cu12==11.3.3.83
safetensors==0.6.2
mdurl==0.1.2
importlib_metadata==8.7.0
traitlets==5.14.3
attrs==25.3.0
python-dateutil==2.9.0.post0
jupyter_core==5.8.1
markdown-it-py==4.0.0
pandas==2.3.2
charset-normalizer==3.4.3
pip==25.2
jupyter_client==8.6.3
tzdata==2025.2
datasets==4.4.1
transformers==4.57.1
unsloth==2025.9.7
contourpy==1.3.3
pyparsing==3.2.5
typeguard==4.4.4
yarl==1.20.1
debugpy==1.8.16
nvidia-nvjitlink-cu12==12.8.93
tqdm==4.67.1
cycler==0.12.1
triton==3.4.0
ipython_pygments_lexers==1.1.1
aiosignal==1.4.0
nvidia-curand-cu12==10.3.9.90
requests==2.32.5
idna==3.10
prompt_toolkit==3.0.52
six==1.17.0
huggingface-hub==0.35.0
bitsandbytes==0.47.0
decorator==5.2.1
typing-inspection==0.4.1
psutil==7.0.0
wandb==0.22.0
ipython==9.5.0
torchvision==0.23.0
wcwidth==0.2.13
rich==14.1.0
nest-asyncio==1.6.0
threadpoolctl==3.6.0
torch==2.8.0
hf_transfer==0.1.9
pyzmq==27.1.0
fsspec==2025.3.0
pydantic_core==2.33.2
torchao==0.13.0
regex==2025.9.18
fonttools==4.60.1
pillow==11.3.0
urllib3==2.5.0
click==8.3.0
evaluate==0.4.6
nvidia-cusolver-cu12==11.7.3.90
sympy==1.14.0
anyio==4.11.0
peft==0.17.1
smmap==5.0.2
pure_eval==0.2.3
diffusers==0.35.1
nvidia-nvtx-cu12==12.8.90
hf-xet==1.1.10
propcache==0.3.2
ipykernel==6.30.1
kiwisolver==1.4.9
zipp==3.23.0
tyro==0.9.32
h11==0.16.0
scipy==1.16.3
nvidia-cudnn-cu12==9.10.2.21
pydantic==2.11.9
xxhash==3.5.0
trl==0.22.2
nvidia-cuda-nvrtc-cu12==12.8.93
cut-cross-entropy==25.1.1
networkx==3.5
nvidia-cuda-runtime-cu12==12.8.90
pytz==2025.2
aiohappyeyeballs==2.6.1
executing==2.2.1
protobuf==6.32.1
asttokens==3.0.0
pip==24.3.1
